In [20]:
import pandas as pd
import plotly.graph_objs as go
import dateutil.relativedelta as relativedelta
import dateutil.rrule as rrule
import datetime
import nsepy as npy
import numpy as np
import dateutil.relativedelta
from datetime import date
import math
import datetime as dt
import mibian as mb
from plotly import offline
from plotly import tools
import time

In [2]:
banknifty = pd.read_csv("C:\Users\sivar\Dropbox\Python Notebooks\OptionsData\\July_Expiries_withRange.csv", date_parser=True)
banknifty['Date'] = pd.to_datetime(banknifty['Date'])
banknifty['Expiry'] = pd.to_datetime(banknifty['Expiry'])
expnifty = banknifty.drop_duplicates(['Expiry'], keep='last')
expiries = expnifty['Expiry'].tolist()
DF5 = banknifty
CADF = expiries
PEDF = expiries

In [44]:
for expiry in expiries:
    print expiry
    duration = expiry - datetime.timedelta(days=5)
    ExpiryDF = banknifty[banknifty['Expiry'] == expiry]
    DF5 = ExpiryDF[ExpiryDF['Date'] > duration]
    #DF5['PositionUp'] = int(math.ceil(ExpiryDF[ExpiryDF['Date'] == ExpiryDF['Date'].min()].drop_duplicates(['Underlying'], keep='last').UpperRange/100)*100)
    #DF5['PositionDown'] = int(round(ExpiryDF[ExpiryDF['Date'] == ExpiryDF['Date'].min()].drop_duplicates(['Underlying'], keep='last').LowerRange, -2))
    DF5['PositionUp'] = int(math.ceil(DF5[DF5['Date'] == DF5['Date'].min()].drop_duplicates(['Underlying'], keep='last').UpperRange/100)*100)
    DF5['PositionDown'] = int(round(DF5[DF5['Date'] == DF5['Date'].min()].drop_duplicates(['Underlying'], keep='last').LowerRange, -2))
    strikesDF = DF5[DF5['Date'] == DF5['Date'].min()]
    strikesDF = DF5[(DF5['Strike Price'] == DF5['PositionUp']) | (DF5['Strike Price'] == DF5['PositionDown'])]
    CADF = strikesDF[(strikesDF['Option Type'] == 'CE') & (strikesDF['Strike Price'] == strikesDF['PositionUp'])]
    PEDF = strikesDF[(strikesDF['Option Type'] == 'PE') & (strikesDF['Strike Price'] == strikesDF['PositionDown'])]
    print expiry.strftime('%m/%d/%Y')
    createCharts(ExpiryDF,DF5,expiry.strftime('%m/%d/%Y'), CADF,PEDF )
    time.sleep(10)

2017-07-06 00:00:00
07/06/2017
536    25.65
640    10.40
744     7.95
900     0.20
Name: Close_x, dtype: float64
This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y2 ]  [ (1,3) x3,y3 ]
[ (2,1) x4,y4 ]  [ (2,2) x5,y5 ]  [ (2,3) x6,y6 ]
[ (3,1) x7,y7 ]  [ (3,2) x8,y8 ]  [ (3,3) x9,y9 ]

2017-07-13 00:00:00
07/13/2017
1168    13.05
1272     5.25
1376     3.90
1532     0.20
Name: Close_x, dtype: float64
This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y2 ]  [ (1,3) x3,y3 ]
[ (2,1) x4,y4 ]  [ (2,2) x5,y5 ]  [ (2,3) x6,y6 ]
[ (3,1) x7,y7 ]  [ (3,2) x8,y8 ]  [ (3,3) x9,y9 ]

2017-07-20 00:00:00
07/20/2017
1800    44.05
1908    38.80
2016    61.50
2124    10.85
Name: Close_x, dtype: float64
This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y2 ]  [ (1,3) x3,y3 ]
[ (2,1) x4,y4 ]  [ (2,2) x5,y5 ]  [ (2,3) x6,y6 ]
[ (3,1) x7,y7 ]  [ (3,2) x8,y8 ]  [ (3,3) x9,y9 ]

2017-07-27 00:00:00
07/27/2017
2294     37.05
2348     67.90
2402    130.40
2456    318.45
Name: Close_x, dtype: float64
This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y2 ]  [ (1,3) x3,y3 ]
[ (2,1) x4,y4 ]  [ (2,2) x5,y5 ]  [ (2,3) x6,y6 ]
[ (3,1) x7,y7 ]  [ (3,2) x8,y8 ]  [ (3,3) x9,y9 ]

D:\app\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\app\Anaconda2\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
print expiries
print expiries[1].strftime('%m-%d-%Y')

[Timestamp('2017-07-06 00:00:00'), Timestamp('2017-07-13 00:00:00'), Timestamp('2017-07-20 00:00:00'), Timestamp('2017-07-27 00:00:00')]
07-13-2017

In [6]:
duration = expiries[3] - datetime.timedelta(days=5)
print duration
print type(duration)
wdwe = expiries[3]
print wdwe
print type(wdwe)

2017-07-22 00:00:00
<class 'pandas.tslib.Timestamp'>
2017-07-27 00:00:00
<class 'pandas.tslib.Timestamp'>

In [43]:
def createCharts(ExpiryDF,DF5,fName, CA, PE):
    fname = 'C:\Users\sivar\Dropbox\Python Notebooks\OptionsData\\'+fName
    print CA['Close_x']
    #trace1 = go.Scatter(x=CA['Date'], y=CA['AnnualVolatility365'],name='Volatility')
    trace2 = go.Scatter(x=ExpiryDF['Date'], y=ExpiryDF['AnnualVolatility365'],name='Volatility')
    trace3 = go.Scatter(x=DF5['Date'], y=DF5['High_y'],name='High')
    trace4 = go.Scatter(x=DF5['Date'], y=DF5['Low_y'],name='Low')
    trace5 = go.Scatter(x=DF5['Date'], y=DF5['Close_y'],name='Close')
    trace6 = go.Scatter(x=CA['Date'], y=CA['Close_x'],name='CA CLose')
    trace7 = go.Scatter(x=PE['Date'], y=PE['Close_x'],name='PE Close')
    trace8 = go.Candlestick(x=DF5['Date'], open=DF5['Open_y'],high=DF5['High_y']
                            ,low=DF5['Low_y'],close=DF5['Close_y'], name='Candlestick')
    trace9 = go.Scatter(x=DF5['Date'], y=DF5['PositionUp'],name='PositionUp')
    trace10 = go.Scatter(x=DF5['Date'], y=DF5['PositionDown'],name='PositionDown')
    trace11 = go.Scatter(x=DF5['Date'], y=DF5['UpperRange'],name='UpperRange')
    trace12 = go.Scatter(x=DF5['Date'], y=DF5['LowerRange'],name='LowerRange')
    # data = [trace2]
    fig = tools.make_subplots(rows=3, cols=3,)
    
    #fig.append_trace(trace1, 1, 1)
    fig.append_trace(trace2, 2, 1)
    fig.append_trace(trace3, 3, 1)
    fig.append_trace(trace4, 3, 1)
    fig.append_trace(trace5, 3, 1)
    fig.append_trace(trace6, 3, 2)
    fig.append_trace(trace7, 1, 3)
    fig.append_trace(trace8, 2, 3)
    fig.append_trace(trace9, 3, 1)
    fig.append_trace(trace10, 3, 1)
    fig.append_trace(trace11, 3, 1)
    fig.append_trace(trace12, 3, 1)
    fig['layout'].update(title=fName)
    plot_url=offline.plot(fig, filename='123')

In [6]:
CADF

,Unnamed: 0,Unnamed: 0.1,Date,Symbol,Expiry,Option Type,Strike Price,Open_x,High_x,Low_x,...,Theta365,Rho365,Vega365,Gamma365,CalcIV365,Range,UpperRange,LowerRange,PositionUp,PositionDown
2294,2294,2294,2017-07-24,BANKNIFTY,2017-07-27,CE,24600,28.00,45.75,19.40,...,0,0,0,0,0,162.853381,24583.703380,24257.996619,24600,24300
2348,2348,2348,2017-07-25,BANKNIFTY,2017-07-27,CE,24600,80.00,80.00,49.00,...,0,0,0,0,0,118.629938,24639.329938,24402.070062,24600,24300
2402,2402,2402,2017-07-26,BANKNIFTY,2017-07-27,CE,24600,70.05,162.00,48.25,...,0,0,0,0,0,59.309128,24730.009128,24611.390871,24600,24300
2456,2456,2456,2017-07-27,BANKNIFTY,2017-07-27,CE,24600,166.45,428.50,166.40,...,0,0,0,0,0,0.000000,24922.400000,24922.400000,24600,24300

In [17]:
expiries

[Timestamp('2017-07-06 00:00:00'),
 Timestamp('2017-07-13 00:00:00'),
 Timestamp('2017-07-20 00:00:00'),
 Timestamp('2017-07-27 00:00:00')]

In [22]:
strikesDF = PEDF
strikesDF[(strikesDF['Option Type'] == 'PE') & (strikesDF['Strike Price'] == strikesDF['PositionUp'])]

,Unnamed: 0,Unnamed: 0.1,Date,Symbol,Expiry,Option Type,Strike Price,Open_x,High_x,Low_x,...,Theta365,Rho365,Vega365,Gamma365,CalcIV365,Range,UpperRange,LowerRange,PositionUp,PositionDown
1795,1795,1795,2017-07-17,BANKNIFTY,2017-07-20,PE,23900,56.15,107.65,51.65,...,0,0,0,0,0,184.321691,24199.371691,23830.728309,23900,22900
1903,1903,1903,2017-07-18,BANKNIFTY,2017-07-20,PE,23900,80.00,98.00,26.50,...,0,0,0,0,0,150.457268,24172.507268,23871.592732,23900,22900
2011,2011,2011,2017-07-19,BANKNIFTY,2017-07-20,PE,23900,42.90,42.90,5.55,...,0,0,0,0,0,99.195058,24251.845058,24053.454942,23900,22900
2119,2119,2119,2017-07-20,BANKNIFTY,2017-07-20,PE,23900,3.40,4.00,0.05,...,0,0,0,0,0,0.000000,24213.350000,24213.350000,23900,22900

In [ ]:
trace1 = go.Scatter(x=CA['Date'], y=CA['AnnualVolatility365'],name='CallPrice')
trace2 = go.Scatter(x=ExpiryDF['Date'], y=ExpiryDF['AnnualVolatility365'],name='Volatility')
trace3 = go.Scatter(x=DF5['Date'], y=DF5['High_y'],name='High')
trace4 = go.Scatter(x=DF5['Date'], y=DF5['Low_y'],name='Low')
trace5 = go.Scatter(x=DF5['Date'], y=DF5['Close_y'],name='Close')
trace6 = go.Scatter(x=CA['Date'], y=CA['Close_x'],name='CA CLose')
trace7 = go.Scatter(x=PE['Date'], y=PE['Close_x'],name='PE Close')
trace8 = go.Candlestick(x=DF5['Date'], open=DF5['Open_y'],high=DF5['High_y']
                        ,low=DF5['Low_y'],close=DF5['Close_y'], name='Candlestick')
#trace9 = go.Scatter(x=banknifty_2['Date'], y=banknifty_2['Close_y'],name='Volatility')
#trace6 = go.Scatter(x=banknifty_2['Date'], y=banknifty_2['Open_y'],name='Volatility')
# data = [trace2]
fig = tools.make_subplots(rows=3, cols=3)

fig.append_trace(trace1, 1, 1)
fig.append_trace(trace2, 2, 1)
fig.append_trace(trace3, 3, 1)
fig.append_trace(trace4, 1, 2)
fig.append_trace(trace5, 2, 2)
fig.append_trace(trace6, 3, 2)
fig.append_trace(trace7, 1, 3)
fig.append_trace(trace8, 2, 3)
#fig.append_trace(trace9, 3, 3)
fig['layout'].update(title='i <3 subplots')
plot_url=offline.plot(fig, filename='123')

In [62]:
expnifty = expnifty[expnifty['Date'] > duration]

In [63]:
expnifty.to_csv("C:\Users\sivar\Dropbox\Python Notebooks\OptionsData\\last5days.csv")

In [73]:
underlying = expnifty[expnifty['Date'] == expnifty['Date'].min()].drop_duplicates(['Underlying'], keep='last').Underlying
underlying

2311    24420.85
Name: Underlying, dtype: float64

In [76]:
int(round(, -2))

200

In [78]:
math.ceil(underlying/100) * 100

24500.0

In [40]:
dd = banknifty[banknifty['Date'] > duration]
dd.drop_duplicates(['Date'], keep='last')

,Unnamed: 0,Date,Symbol,Expiry,Option Type,Strike Price,Open_x,High_x,Low_x,Close_x,...,Open_y,High_y,Low_y,Close_y,Volume,Turnover_y,AnnualVolatility365,AnnualVolatility254,logreturns,Days_to_Expiry
607,607,2017-05-04,BANKNIFTY,2017-04-20,PE,22800,0.00,0.00,0.00,1540.50,...,21602.20,21699.30,21499.75,21652.70,84599454,26878800000,15.480441,12.913791,0.004859,15
721,721,2017-06-04,BANKNIFTY,2017-04-20,PE,22800,0.00,0.00,0.00,1540.50,...,21572.70,21674.00,21488.90,21622.95,93689427,30460900000,14.929520,12.454213,-0.001375,14
797,797,2017-07-04,BANKNIFTY,2017-04-20,PE,22800,0.00,0.00,0.00,1540.50,...,21536.50,21616.85,21397.00,21431.15,96285404,22491700000,11.961828,9.978562,-0.008910,13
873,873,2017-10-04,BANKNIFTY,2017-04-20,PE,22800,0.00,0.00,0.00,1540.50,...,21492.05,21552.10,21396.05,21520.15,57491405,18997500000,14.179009,11.828136,0.004144,10
949,949,2017-11-04,BANKNIFTY,2017-04-20,PE,22800,0.00,0.00,0.00,1540.50,...,21521.45,21753.35,21483.55,21736.15,89433764,25730000000,13.134697,10.956970,0.009987,9
1063,1063,2017-12-04,BANKNIFTY,2017-04-27,PE,22800,0.00,0.00,0.00,1280.00,...,21735.65,21787.10,21551.75,21666.80,78966353,22622000000,13.500607,11.262213,-0.003196,15
1177,1177,2017-04-13,BANKNIFTY,2017-04-27,PE,22800,1111.00,1111.00,1111.00,1111.00,...,21651.25,21758.85,21627.00,21686.60,71469667,21036800000,13.577279,11.326172,0.000913,14
1253,1253,2017-04-17,BANKNIFTY,2017-04-27,PE,22800,0.00,0.00,0.00,1111.00,...,21700.50,21743.30,21576.75,21647.60,49031440,16137000000,13.026563,10.866765,-0.001800,10
1329,1329,2017-04-18,BANKNIFTY,2017-04-27,PE,22800,925.00,925.00,875.00,875.00,...,21706.05,21947.00,21634.15,21671.85,85174794,25190300000,11.505121,9.597578,0.001120,9
2433,761,2017-06-02,BANKNIFTY,2017-02-16,PE,21400,0.00,0.00,0.00,1359.20,...,20307.15,20462.45,20298.05,20371.60,99281709,28538500000,24.599202,20.520666,0.008618,10
2509,837,2017-07-02,BANKNIFTY,2017-02-16,PE,21400,0.00,0.00,0.00,1359.20,...,20367.30,20426.95,20281.50,20327.25,109432014,28356000000,19.949626,16.641987,-0.002179,9
2623,951,2017-08-02,BANKNIFTY,2017-02-23,PE,21400,0.00,0.00,0.00,1372.70,...,20335.25,20362.80,20070.15,20245.40,85902788,26261700000,20.503122,17.103714,-0.004035,15
2737,1065,2017-09-02,BANKNIFTY,2017-02-23,PE,21400,0.00,0.00,0.00,1372.70,...,20312.65,20406.60,20000.35,20151.15,107559620,27632500000,21.588701,18.009305,-0.004666,14
2813,1141,2017-10-02,BANKNIFTY,2017-02-23,PE,21400,0.00,0.00,0.00,1372.70,...,20225.75,20310.00,20167.10,20213.90,117595817,33540800000,19.057505,15.897780,0.003109,13
3827,519,2017-06-30,BANKNIFTY,2017-07-13,PE,25300,0.00,0.00,0.00,1502.00,...,23137.25,23254.10,22996.40,23211.20,70715291,23269300000,12.740201,10.627882,-0.000693,13
4191,883,2017-05-07,BANKNIFTY,2017-07-20,PE,25300,0.00,0.00,0.00,1491.30,...,23241.90,23380.35,23205.55,23352.60,89709252,18632900000,9.680709,8.075652,0.005944,15
4347,1039,2017-06-07,BANKNIFTY,2017-07-20,PE,25300,0.00,0.00,0.00,1491.30,...,23399.50,23540.15,23369.50,23466.65,130090775,25249000000,10.881469,9.077326,0.004872,14
4451,1143,2017-07-07,BANKNIFTY,2017-07-20,PE,25300,0.00,0.00,0.00,1491.30,...,23463.75,23492.60,23400.60,23449.15,88942526,19229700000,11.507214,9.599323,-0.000746,13
4555,1247,2017-10-07,BANKNIFTY,2017-07-20,PE,25300,0.00,0.00,0.00,1491.30,...,23583.25,23964.80,23289.90,23675.05,36606673,7049000000,11.418208,9.525074,0.009588,10
4659,1351,2017-11-07,BANKNIFTY,2017-07-20,PE,25300,0.00,0.00,0.00,1491.30,...,23744.55,23744.55,23552.60,23584.60,78963065,24862400000,12.051930,10.053725,-0.003828,9
4815,1507,2017-12-07,BANKNIFTY,2017-07-27,PE,25300,0.00,0.00,0.00,1847.50,...,23623.75,23736.55,23523.65,23695.45,69663347,21158300000,7.957277,6.637964,0.004689,15
4971,1663,2017-07-13,BANKNIFTY,2017-07-27,PE,25300,0.00,0.00,0.00,1847.50,...,23817.25,23938.00,23811.00,23888.65,84983841,34155700000,8.150913,6.799496,0.008120,14
5079,1771,2017-07-14,BANKNIFTY,2017-07-27,PE,25400,0.00,0.00,0.00,1449.60,...,23949.50,23963.65,23755.95,23937.70,71052482,22422300000,8.758849,7.306636,0.002051,13
5187,1879,2017-07-17,BANKNIFTY,2017-07-27,PE,25400,0.00,0.00,0.00,1449.60,...,24011.40,24066.10,23913.65,24015.05,65783041,19479000000,8.466010,7.062349,0.003226,10
5295,1987,2017-07-18,BANKNIFTY,2017-07-27,PE,25400,0.00,0.00,0.00,1449.60,...,23958.15,24147.45,23942.10,24022.05,75082364,22163100000,8.461250,7.058379,0.000291,9
5403,2095,2017-07-19,BANKNIFTY,2017-07-27,PE,25400,0.00,0.00,0.00,1449.60,...,24069.20,24180.75,24053.70,24152.65,72823157,25892700000,7.846422,6.545489,0.005422,8
5511,2203,2017-07-20,BANKNIFTY,2017-07-27,PE,25400,0.00,0.00,0.00,1449.60,...,24170.65,24299.60,24170.65,24213.35,91515347,36681700000,7.784410,6.493758,0.002510,7
5565,2257,2017-07-21,BANKNIFTY,2017-07-27,PE,25400,0.00,0.00,0.00,1449.60,...,24231.40,24289.30,24066.90,24257.05,65322497,19781500000,7.730016,6.448383,0.001803,6
5619,2311,2017-07-24,BANKNIFTY,2017-07-27,PE,25400,0.00,0.00,0.00,1449.60,...,24307.70,24460.55,24234.65,24420.85,74481260,31852400000,7.355663,6.136097,0.006730,3
5673,2365,2017-07-25,BANKNIFTY,2017-07-27,PE,25400,0.00,0.00,0.00,1449.60,...,24622.90,24624.65,24450.20,24520.70,76545885,29881600000,6.535712,5.452094,0.004080,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7637,1855,2017-06-28,BANKNIFTY,2017-06-29,PE,24300,1021.55,1085.20,1021.55,1085.20,...,23209.55,23322.55,23113.65,23235.85,95524464,30086500000,12.766852,10.650114,0.000844,1
7669,1887,2017-06-29,BANKNIFTY,2017-06-29,PE,24300,920.10,1129.35,886.35,1089.70,...,23312.40,23476.00,23124.35,23227.30,146858174,43412300000,12.794398,10.673093,-0.000368,0
8675,1005,2017-06-03,BANKNIFTY,2017-03-16,PE,22100,0.00,0.00,0.00,1485.70,...,20548.95,20727.50,20532.20,20663.65,56093806,17700900000,16.719784,13.947652,0.008166,10
8763,1093,2017-07-03,BANKNIFTY,2017-03-16,PE,22100,0.00,0.00,0.00,1485.70,...,20685.95,20701.25,20585.95,20627.50,47804156,16725800000,14.809781,12.354326,-0.001751,9
8895,1225,2017-08-03,BANKNIFTY,2017-03-23,PE,22100,0.00,0.00,0.00,1479.40,...,20630.15,20715.20,20534.25,20676.55,63112788,24178600000,14.368434,11.986154,0.002375,15
9027,1357,2017-09-03,BANKNIFTY,2017-03-23,PE,22100,0.00,0.00,0.00,1479.40,...,20620.55,20780.25,20603.90,20721.35,59782379,20269100000,13.190779,11.003754,0.002164,14
9115,1445,2017-10-03,BANKNIFTY,2017-03-23,PE,22100,0.00,0.00,0.00,1479.40,...,20825.90,20876.95,20648.80,20727.55,53537238,19647700000,13.304577,11.098684,0.000299,13
10155,27,2017-04-19,BANKNIFTY,2017-04-05,PE,23300,0.00,0.00,0.00,1550.00,...,21674.10,21706.30,21470.20,21556.35,81449296,29822300000,10.057308,8.389811,-0.005344,15
10183,55,2017-04-20,BANKNIFTY,2017-04-05,PE,23300,0.00,0.00,0.00,1550.00,...,21419.45,21558.85,21396.00,21491.40,100132829,40725800000,10.384036,8.662367,-0.003018,14
10211,83,2017-04-21,BANKNIFTY,2017-04-05,PE,23300,0.00,0.00,0.00,1550.00,...,21567.50,21614.55,21386.20,21551.45,77253527,31801400000,9.984285,8.328895,0.002790,13
10239,111,2017-04-24,BANKNIFTY,2017-04-05,PE,23300,0.00,0.00,0.00,1550.00,...,21591.90,21884.85,21578.65,21857.40,84637572,34268300000,10.193100,8.503089,0.014096,10
10271,143,2017-04-25,BANKNIFTY,2017-04-05,PE,23500,0.00,0.00,0.00,1601.55,...,21960.65,22093.25,21900.30,22054.70,88819491,29512500000,11.705022,9.764335,0.008986,9
10343,215,2017-04-26,BANKNIFTY,2017-11-05,PE,23700,0.00,0.00,0.00,1580.60,...,22158.65,22276.05,21814.90,22242.85,133893025,34402500000,12.413950,10.355723,0.008495,15
10419,291,2017-04-27,BANKNIFTY,2017-11-05,PE,23800,0.00,0.00,0.00,1496.80,...,22274.05,22380.85,22169.80,22326.30,166567366,51215700000,12.074804,10.072807,0.003745,14
10499,371,2017-04-28,BANKNIFTY,2017-11-05,PE,23900,0.00,0.00,0.00,1516.30,...,22296.80,22383.00,22182.55,22358.25,167782299,34358700000,11.507415,9.599491,0.001430,13
10899,771,2017-05-05,BANKNIFTY,2017-05-18,PE,23900,0.00,0.00,0.00,1492.50,...,22844.85,22853.55,22514.00,22604.95,255187439,63714400000,13.467616,11.234691,-0.005081,13
10979,851,2017-08-05,BANKNIFTY,2017-05-18,PE,23900,0.00,0.00,0.00,1492.50,...,22678.45,22835.15,22632.50,22767.35,106479323,31705700000,14.027897,11.702078,0.007159,10
11059,931,2017-09-05,BANKNIFTY,2017-05-18,PE,23900,0.00,0.00,0.00,1492.50,...,22820.80,22835.35,22664.35,22707.30,81028829,23506800000,13.990514,11.670894,-0.002641,9
11179,1051,2017-10-05,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22767.75,22859.40,22742.05,22830.35,73498955,23533400000,13.458266,11.226892,0.005404,15
11299,1171,2017-11-05,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22916.05,22977.85,22764.65,22818.45,78856978,25576000000,13.068400,10.901665,-0.000521,14
11379,1251,2017-12-05,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22840.40,22859.15,22578.00,22671.70,96397424,42783200000,12.790950,10.670217,-0.006452,13
11459,1331,2017-05-15,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22735.85,22891.70,22730.35,22821.50,74700041,32078300000,13.846212,11.550516,0.006586,10
11539,1411,2017-05-16,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22857.60,22944.10,22727.65,22928.60,134784390,38364100000,14.176723,11.826229,0.004682,9
11619,1491,2017-05-17,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22972.35,22978.15,22830.10,22935.95,96263996,30280400000,14.120643,11.779447,0.000321,8
11699,1571,2017-05-18,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22750.45,22834.55,22660.20,22698.60,113423012,40138900000,13.945186,11.633081,-0.010402,7
11739,1611,2017-05-19,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22761.95,22902.25,22628.45,22769.80,154944222,49459000000,11.545063,9.630897,0.003132,6
11779,1651,2017-05-22,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22874.80,22918.35,22637.75,22652.85,99779442,30933100000,11.166516,9.315113,-0.005149,3
11819,1691,2017-05-23,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22674.90,22740.40,22492.20,22582.80,114212196,33643600000,10.759763,8.975800,-0.003097,2
11859,1731,2017-05-24,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22624.50,22673.40,22469.80,22536.30,91993332,28411500000,10.799950,9.009324,-0.002061,1
11899,1771,2017-05-25,BANKNIFTY,2017-05-25,PE,23900,0.00,0.00,0.00,1473.20,...,22573.65,23267.80,22570.35,23190.80,132711087,48306000000,10.046266,8.380599,0.028628,0

In [91]:
banknifty['Date'] = pd.to_datetime(banknifty['Date'])
banknifty['Expiry'] = pd.to_datetime(banknifty['Expiry'])

In [80]:
expdf = banknifty.loc[banknifty['Expiry'] = '06-04-2017']

In [86]:
dates = expdf['Date'].drop_duplicates(keep="last")
print dates
expdf.dtypes

37     22-03-2017
75     23-03-2017
113    24-03-2017
151    27-03-2017
189    28-03-2017
227    29-03-2017
303    30-03-2017
379    31-03-2017
455    03-04-2017
531    05-04-2017
645    06-04-2017
Name: Date, dtype: object

Unnamed: 0               int64
Date                    object
Symbol                  object
Expiry                  object
Option Type             object
Strike Price             int64
Open_x                 float64
High_x                 float64
Low_x                  float64
Close_x                float64
Last                   float64
Settle Price           float64
Number of Contracts      int64
Turnover_x             float64
Premium Turnover         int64
Open Interest            int64
Change in OI             int64
Underlying             float64
Open_y                 float64
High_y                 float64
Low_y                  float64
Close_y                float64
Volume                   int64
Turnover_y             float64
AnnualVolatility365    float64
AnnualVolatility254    float64
logreturns             float64
Days_to_Expiry           int64
dtype: object

In [18]:
banknifty_2

,Date,Open_y,High_y,Low_y,Close_y,AnnualVolatility365,AnnualVolatility254,Days_to_Expiry
417,31-03-2017,21551.85,21574.15,21414.00,21444.15,14.722303,12.281352,13
493,03-04-2017,21539.20,21565.45,21408.60,21547.75,15.640670,13.047454,10
607,05-04-2017,21602.20,21699.30,21499.75,21652.70,15.480441,12.913791,15
721,06-04-2017,21572.70,21674.00,21488.90,21622.95,14.929520,12.454213,14
797,07-04-2017,21536.50,21616.85,21397.00,21431.15,11.961828,9.978562,13
873,10-04-2017,21492.05,21552.10,21396.05,21520.15,14.179009,11.828136,10
949,11-04-2017,21521.45,21753.35,21483.55,21736.15,13.134697,10.956970,9
1063,12-04-2017,21735.65,21787.10,21551.75,21666.80,13.500607,11.262213,15
1177,13-04-2017,21651.25,21758.85,21627.00,21686.60,13.577279,11.326172,14
1253,17-04-2017,21700.50,21743.30,21576.75,21647.60,13.026563,10.866765,10
1329,18-04-2017,21706.05,21947.00,21634.15,21671.85,11.505121,9.597578,9
1695,18-01-2017,19074.85,19276.50,19072.10,19164.50,16.112192,13.440798,15
1721,19-01-2017,19165.35,19185.30,19046.10,19124.25,13.324571,11.115363,14
1747,20-01-2017,18996.60,19071.65,18793.05,18820.80,13.740192,11.462074,13
1773,23-01-2017,18762.00,18909.65,18722.85,18842.70,18.657011,15.563687,10
1799,24-01-2017,18931.00,19054.30,18906.95,19023.50,18.659999,15.566180,9
1851,25-01-2017,19120.05,19518.45,19114.15,19473.20,18.966251,15.821655,15
1915,27-01-2017,19588.40,19794.95,19534.90,19708.30,19.293316,16.094493,13
1987,30-01-2017,19718.80,19767.05,19561.10,19585.25,19.957458,16.648520,10
2059,31-01-2017,19533.20,19624.10,19435.45,19515.15,20.948343,17.475118,9
2167,01-02-2017,19522.40,20047.85,19470.95,20020.60,20.890578,17.426930,15
2281,02-02-2017,20053.95,20146.90,19915.20,20070.30,24.962490,20.823721,14
2357,03-02-2017,20061.90,20229.65,20009.95,20196.80,25.003316,20.857778,13
2433,06-02-2017,20307.15,20462.45,20298.05,20371.60,24.599202,20.520666,10
2509,07-02-2017,20367.30,20426.95,20281.50,20327.25,19.949626,16.641987,9
2623,08-02-2017,20335.25,20362.80,20070.15,20245.40,20.503122,17.103714,15
2737,09-02-2017,20312.65,20406.60,20000.35,20151.15,21.588701,18.009305,14
2813,10-02-2017,20225.75,20310.00,20167.10,20213.90,19.057505,15.897780,13
2889,13-02-2017,20273.65,20308.70,20116.90,20251.80,18.170771,15.158066,10
2965,14-02-2017,20304.50,20314.05,20158.85,20258.10,17.213067,14.359148,9
...,...,...,...,...,...,...,...,...
9995,27-03-2017,21178.10,21179.20,20979.55,21056.90,15.951639,13.306864,3
10039,28-03-2017,21229.00,21264.95,21145.00,21225.40,16.222930,13.533175,2
10083,29-03-2017,21291.45,21418.60,21255.75,21391.15,12.929682,10.785947,1
10127,30-03-2017,21374.35,21696.00,21331.90,21620.70,13.617508,11.359731,0
10155,19-04-2017,21674.10,21706.30,21470.20,21556.35,10.057308,8.389811,15
10183,20-04-2017,21419.45,21558.85,21396.00,21491.40,10.384036,8.662367,14
10211,21-04-2017,21567.50,21614.55,21386.20,21551.45,9.984285,8.328895,13
10239,24-04-2017,21591.90,21884.85,21578.65,21857.40,10.193100,8.503089,10
10271,25-04-2017,21960.65,22093.25,21900.30,22054.70,11.705022,9.764335,9
10343,26-04-2017,22158.65,22276.05,21814.90,22242.85,12.413950,10.355723,15
10419,27-04-2017,22274.05,22380.85,22169.80,22326.30,12.074804,10.072807,14
10499,28-04-2017,22296.80,22383.00,22182.55,22358.25,11.507415,9.599491,13
10579,02-05-2017,22412.55,22492.15,22266.15,22341.35,11.473637,9.571313,9
10699,03-05-2017,22445.85,22449.00,22240.05,22307.30,11.310870,9.435533,15
10819,04-05-2017,22618.30,22743.70,22449.90,22720.10,11.612679,9.687302,14
10899,05-05-2017,22844.85,22853.55,22514.00,22604.95,13.467616,11.234691,13
10979,08-05-2017,22678.45,22835.15,22632.50,22767.35,14.027897,11.702078,10
11059,09-05-2017,22820.80,22835.35,22664.35,22707.30,13.990514,11.670894,9
11179,10-05-2017,22767.75,22859.40,22742.05,22830.35,13.458266,11.226892,15
11299,11-05-2017,22916.05,22977.85,22764.65,22818.45,13.068400,10.901665,14
11379,12-05-2017,22840.40,22859.15,22578.00,22671.70,12.790950,10.670217,13
11459,15-05-2017,22735.85,22891.70,22730.35,22821.50,13.846212,11.550516,10
11539,16-05-2017,22857.60,22944.10,22727.65,22928.60,14.176723,11.826229,9
11619,17-05-2017,22972.35,22978.15,22830.10,22935.95,14.120643,11.779447,8
11699,18-05-2017,22750.45,22834.55,22660.20,22698.60,13.945186,11.633081,7
11739,19-05-2017,22761.95,22902.25,22628.45,22769.80,11.545063,9.630897,6
11779,22-05-2017,22874.80,22918.35,22637.75,22652.85,11.166516,9.315113,3
11819,23-05-2017,22674.90,22740.40,22492.20,22582.80,10.759763,8.975800,2
11859,24-05-2017,22624.50,22673.40,22469.80,22536.30,10.799950,9.009324,1
11899,25-05-2017,22573.65,23267.80,22570.35,23190.80,10.046266,8.380599,0

In [13]:
banknifty_2 = banknifty_1[['Date','Open_y','High_y','Low_y','Close_y','AnnualVolatility365','AnnualVolatility254','Days_to_Expiry']]

In [65]:
trace1 = go.Bar(x=banknifty_2['Date'], y=(banknifty_2['High_y']-banknifty_2['Low_y']),yaxis='y2',name='Range')
trace2 = go.Scatter(x=banknifty_2['Date'], y=banknifty_2['AnnualVolatility365'],yaxis='y2',name='Volatility')
trace3 = go.Scatter(x=banknifty_2['Date'], y=banknifty_2['High_y'],name='Volatility')
trace4 = go.Scatter(x=banknifty_2['Date'], y=banknifty_2['Low_y'],name='Volatility')
trace5 = go.Scatter(x=banknifty_2['Date'], y=banknifty_2['Close_y'],name='Volatility')
trace6 = go.Scatter(x=banknifty_2['Date'], y=banknifty_2['Open_y'],name='Volatility')
data = [trace1, trace2,trace3,trace4,trace5,trace6]

layout = go.Layout(
    title='Double Y Axis Example',
    yaxis=dict(
        title='BankNifty Index',
         autorange=True
    ),
    yaxis2=dict(
        title='Volatility',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right',
        
    )
)
fig = go.Figure(data=data, layout=layout)
plot_url=offline.plot(fig, filename='banknifty-price')

In [45]:
banknifty_2

,Date,Open_y,High_y,Low_y,Close_y,AnnualVolatility365,AnnualVolatility254,Days_to_Expiry
417,31-03-2017,21551.85,21574.15,21414.00,21444.15,14.722303,12.281352,13
493,03-04-2017,21539.20,21565.45,21408.60,21547.75,15.640670,13.047454,10
607,05-04-2017,21602.20,21699.30,21499.75,21652.70,15.480441,12.913791,15
721,06-04-2017,21572.70,21674.00,21488.90,21622.95,14.929520,12.454213,14
797,07-04-2017,21536.50,21616.85,21397.00,21431.15,11.961828,9.978562,13
873,10-04-2017,21492.05,21552.10,21396.05,21520.15,14.179009,11.828136,10
949,11-04-2017,21521.45,21753.35,21483.55,21736.15,13.134697,10.956970,9
1063,12-04-2017,21735.65,21787.10,21551.75,21666.80,13.500607,11.262213,15
1177,13-04-2017,21651.25,21758.85,21627.00,21686.60,13.577279,11.326172,14
1253,17-04-2017,21700.50,21743.30,21576.75,21647.60,13.026563,10.866765,10
1329,18-04-2017,21706.05,21947.00,21634.15,21671.85,11.505121,9.597578,9
1695,18-01-2017,19074.85,19276.50,19072.10,19164.50,16.112192,13.440798,15
1721,19-01-2017,19165.35,19185.30,19046.10,19124.25,13.324571,11.115363,14
1747,20-01-2017,18996.60,19071.65,18793.05,18820.80,13.740192,11.462074,13
1773,23-01-2017,18762.00,18909.65,18722.85,18842.70,18.657011,15.563687,10
1799,24-01-2017,18931.00,19054.30,18906.95,19023.50,18.659999,15.566180,9
1851,25-01-2017,19120.05,19518.45,19114.15,19473.20,18.966251,15.821655,15
1915,27-01-2017,19588.40,19794.95,19534.90,19708.30,19.293316,16.094493,13
1987,30-01-2017,19718.80,19767.05,19561.10,19585.25,19.957458,16.648520,10
2059,31-01-2017,19533.20,19624.10,19435.45,19515.15,20.948343,17.475118,9
2167,01-02-2017,19522.40,20047.85,19470.95,20020.60,20.890578,17.426930,15
2281,02-02-2017,20053.95,20146.90,19915.20,20070.30,24.962490,20.823721,14
2357,03-02-2017,20061.90,20229.65,20009.95,20196.80,25.003316,20.857778,13
2433,06-02-2017,20307.15,20462.45,20298.05,20371.60,24.599202,20.520666,10
2509,07-02-2017,20367.30,20426.95,20281.50,20327.25,19.949626,16.641987,9
2623,08-02-2017,20335.25,20362.80,20070.15,20245.40,20.503122,17.103714,15
2737,09-02-2017,20312.65,20406.60,20000.35,20151.15,21.588701,18.009305,14
2813,10-02-2017,20225.75,20310.00,20167.10,20213.90,19.057505,15.897780,13
2889,13-02-2017,20273.65,20308.70,20116.90,20251.80,18.170771,15.158066,10
2965,14-02-2017,20304.50,20314.05,20158.85,20258.10,17.213067,14.359148,9
...,...,...,...,...,...,...,...,...
9995,27-03-2017,21178.10,21179.20,20979.55,21056.90,15.951639,13.306864,3
10039,28-03-2017,21229.00,21264.95,21145.00,21225.40,16.222930,13.533175,2
10083,29-03-2017,21291.45,21418.60,21255.75,21391.15,12.929682,10.785947,1
10127,30-03-2017,21374.35,21696.00,21331.90,21620.70,13.617508,11.359731,0
10155,19-04-2017,21674.10,21706.30,21470.20,21556.35,10.057308,8.389811,15
10183,20-04-2017,21419.45,21558.85,21396.00,21491.40,10.384036,8.662367,14
10211,21-04-2017,21567.50,21614.55,21386.20,21551.45,9.984285,8.328895,13
10239,24-04-2017,21591.90,21884.85,21578.65,21857.40,10.193100,8.503089,10
10271,25-04-2017,21960.65,22093.25,21900.30,22054.70,11.705022,9.764335,9
10343,26-04-2017,22158.65,22276.05,21814.90,22242.85,12.413950,10.355723,15
10419,27-04-2017,22274.05,22380.85,22169.80,22326.30,12.074804,10.072807,14
10499,28-04-2017,22296.80,22383.00,22182.55,22358.25,11.507415,9.599491,13
10579,02-05-2017,22412.55,22492.15,22266.15,22341.35,11.473637,9.571313,9
10699,03-05-2017,22445.85,22449.00,22240.05,22307.30,11.310870,9.435533,15
10819,04-05-2017,22618.30,22743.70,22449.90,22720.10,11.612679,9.687302,14
10899,05-05-2017,22844.85,22853.55,22514.00,22604.95,13.467616,11.234691,13
10979,08-05-2017,22678.45,22835.15,22632.50,22767.35,14.027897,11.702078,10
11059,09-05-2017,22820.80,22835.35,22664.35,22707.30,13.990514,11.670894,9
11179,10-05-2017,22767.75,22859.40,22742.05,22830.35,13.458266,11.226892,15
11299,11-05-2017,22916.05,22977.85,22764.65,22818.45,13.068400,10.901665,14
11379,12-05-2017,22840.40,22859.15,22578.00,22671.70,12.790950,10.670217,13
11459,15-05-2017,22735.85,22891.70,22730.35,22821.50,13.846212,11.550516,10
11539,16-05-2017,22857.60,22944.10,22727.65,22928.60,14.176723,11.826229,9
11619,17-05-2017,22972.35,22978.15,22830.10,22935.95,14.120643,11.779447,8
11699,18-05-2017,22750.45,22834.55,22660.20,22698.60,13.945186,11.633081,7
11739,19-05-2017,22761.95,22902.25,22628.45,22769.80,11.545063,9.630897,6
11779,22-05-2017,22874.80,22918.35,22637.75,22652.85,11.166516,9.315113,3
11819,23-05-2017,22674.90,22740.40,22492.20,22582.80,10.759763,8.975800,2
11859,24-05-2017,22624.50,22673.40,22469.80,22536.30,10.799950,9.009324,1
11899,25-05-2017,22573.65,23267.80,22570.35,23190.80,10.046266,8.380599,0